.kami-gross {
  font-size: 25px;
  border: 2px solid rgb(56, 14, 106);
  border-radius: 50px;
  width: 175px;
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(56, 14, 106);
  background-color: rgba(241, 113, 255, 0.316); 
}  

* {
  font-family: arial;
  color: rgb(56, 14, 106);
  letter-spacing: 0.9px;
  line-height: 1.4;
  box-sizing: border-box;
}

.kamilooksuppic {
  width: 300px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  filter: drop-shadow(5px 5px 10px gray);  
  border: 1px solid rgb(56, 14, 106);
  background-size: cover;
}

.Whoiskami {
  float: left;
  width: 47%;
}

.KamisWins {
  float: right;
  width: 47%;
}

.Whoiskami, .KamisWins {
  color: rgb(56, 14, 106);
  letter-spacing: 0.9px;
  line-height: 1.4;
  font-variant: small-caps;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.Paragraph {
  display: inline;
  margin: 30px;
  font-family: arial;
}

.Paragraphs123 {
  margin-top: 50px;
  margin-left: 70px;
}

.best-skater {
  font-family: arial;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 400px;
  font-style: italic;
  text-align: center;
}

.kami-vid {
  margin-top: 20px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.my-button {
  background-color: rgb(241, 113, 255, 0.316); 
  line-height: 30px;
  display: block;
  width: 150px;
  color: rgb(56, 14, 106);
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgb(56, 14, 106);
  cursor: pointer;
   /* maus wird zur hand*/
  transition: background-color 2s, transform 0.3s, box-shadow 0.3s;
    /* bei transform sag ich dem Browser: „Wenn sich diese Eigenschaften ändern, dann mach eine 0.3s Animation daraus“. */
/*---------------------------------*/
  will-change: transform;
  opacity: 0; /*Startzustand*/
  animation: slideRight 1s ease-out forwards; 
    /*eigentlich springt ein Element nach der Animation zurück in seinen ursprünglichen Zustand ---> 
    forwards sorgt dafür, dass das Element nach der Animation im Endzustand bleibt*/
}

.my-button:hover {
  background-color: rgba(255, 0, 230, 0.565);
  box-shadow: 0 4px 4px;
  transform: scale(1.2);
}

@keyframes slideRight {
  0% { transform: translateY(-200px); opacity: 0;} /*0%: Startzustand --> und 200px nach links verschoben*/
  100% { transform: translateY(0); opacity: 1;} /*translateX: heisst verschieben entlang der X Achse*/
}

.memoriam {
  padding: 2%;
}

.memoriam, .bolero {
  float: left;
  width: 24%;
}

.truman, .obscura {
  float: right;
  width: 24%;
}

.container {
  overflow: hidden; /* damit keine scroll bars erscheinen */
  padding: 0 0 0 50px; /* top - right - bottom - left */
  margin-bottom: 100px;
}

.programs {
  text-decoration: underline;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: block;
  width: 100px;
}

/* 
https://fonts.google.com/

*/
